body {
    background:  lightgrey;
}

.cl-1 {
    background-color: chocolate;
}

.cl-2 {
    color: rgb(86, 242, 51);
}

#title {
    color: red;
}



.card_red {
 color: red; /* цвет шрифта */
 background-color: lightgrey; /* цвет фона */
 display: inline-block; /* отображение  */
 width: 37px; /* ширина */
 padding: 10px; /* внутренний отступ */
 margin: 2px; /* внешний отступ */
 font-size: 25px;
}

.card_black {
 color: black;
 background-color: lightgrey; 
 width: 38px; 
 display: inline-block; 
 font-size: 25px;
 padding: 10px; 
 margin: 2px; 
}


.changeDiv {
    color: green;
    margin-top: 20px; /* верхний отступ */
    margin-bottom: 10px; /* нижний отступ */
    /* text-decoration: underline dotted blue 1px; */
    text-decoration: underline dotted ;
    /* margin-left:px %; */
}

.image {
    width: 250px;
    opacity: 0.5;
}

#square {
    /* background: linear-gradient(blue, pink); */
    color: green;
    width: 200px;
    height: 200px;
    transition: 1s;
}
#square:hover {
    color: yellow;
    transition: 1s;
}

#changeColor {
    color: linear-gradient(blue, pink);
 
}


span {
    color: blue;
}

#uniq {
    color: aqua;
}
.textt {
    color: aquamarine;
    
}


.greenColor {
    color: chartreuse;
    background-color: rgb(18, 99, 123, .8);
    text-decoration: underline;
    /* font-weight: 900; */
}

h1{
    color:rgb(76, 211, 117);
}
h2 {
    color: rgb(162, 67, 67);
}
h3 {
    color: red;
}

